<div class="valign-wrapper">
<span class="pomodoro-feel circle {{feelingColor}}"
      style="display: inline-block; width: 16px; height: 16px;
margin: 4px;">
</span>
<span class="pomodoro-time grey-text">
    {{startAt}} - {{endAt}} ({{timeMin}} min)
</span>
{{#if setFeeling}}
<span class="pomodoro-feel good btn btn-flat btn-small teal-text text-lighten-2">
<i class="material-icons">thumb_up</i>
</span>
<span class="pomodoro-feel bad btn btn-flat btn-small red-text text-lighten-2">
<i class="material-icons">thumb_down</i>
</span>
{{/if}}
</div>
{{#if scope}}
<div class="pomodoro-scope grey-text" style="margin-left: 16px;">{{scope}}</div>
{{/if}}
